<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container mt-5">
      <h1>Welcome on our website</h1>
      <p>This is your starting point to explore our products.</p>
      <a href="/products" class="btn btn-primary">Show Products</a>
      <a href="/login" class="btn btn-secondary">Log in</a>
      <a href="/register" class="btn btn-success">Register</a>
      <a href="/product-categories" class="btn">Product-Categories</a>
    </div>
  </body>
</html>
